<div class="container">
  <h2>User Settings</h2>

  <form #userSettingsForm="ngForm" (ngSubmit)="onSubmit(userSettingsForm)">

    <!-- Name Input field -->
    <div class="form-group">
      <label for="name">Name</label>

      <input id="name"
             name="name"
             placeholder="Enter Your Name"
             class="form-control"
             required
             #nameField="ngModel"
             (blur)="onBlur(nameField)"
             [class.field-error]="userSettingsForm.submitted && nameField.invalid"
             [(ngModel)]="userSettings.name"
      />

      <div [hidden]="!userSettingsForm.submitted || nameField.valid"
            class="alert alert-danger mt-3">
        Enter a name
      </div>
    </div>

    <div class="form-group">
      <label for="startDate">Start Date</label>

      <input type="text"
             placeholder="Datepicker"
             class="form-control"
             name="startDate"
             id="startDate"
             [(ngModel)]="startDate"
             bsDaterangepicker>
    </div>

    <p>Start Date: {{ startDate }}</p>

    <!-- Toggle Button from ngx-bootstrap -->
    <p>Anonymous Mode</p>
    <div class="form-group">
      <button type="button"
              class="btn btn-primary"
              name="anonymousModel"
              [(ngModel)]="anonymousModel"
              btnCheckbox
              btnCheckboxTrue="On"
              btnCheckboxFalse="Off"
      >
        {{ anonymousModel }}
      </button>
    </div>

    <!-- Checkbox field -->
    <div class="form-check form-group">
      <input class="form-check-input"
             type="checkbox"
             name="emailOffers"
             id="emailOffers"
             [(ngModel)]="userSettings.emailOffers"
      >

      <label class="form-check-label" for="emailOffers">
        Email Special Offers
      </label>
    </div>

    <!-- Radio Button Group -->
    <p>User Interface Style</p>

    <div class="form-group">
      <div class="btn-group">
        <label class="btn btn-primary"
               name="interfaceStyle"
               [(ngModel)]="userSettings.interfaceStyle"
               btnRadio="Light"
               tabindex="0"
               role="button"
        >Light</label>

        <label class="btn btn-primary"
               name="interfaceStyle"
               [(ngModel)]="userSettings.interfaceStyle"
               btnRadio="Dark"
               tabindex="0"
               role="button"
        >Dark</label>
      </div>
    </div>

    <!-- Select Menu -->
    <div class="form-group">
      <label for="subscriptionType">Subscription Type</label>

      <select class="form-control"
              id="subscriptionType"
              name="subscriptionType"
              [(ngModel)]="userSettings.subscriptionType"
      >
        <option *ngFor="let type of subscriptionTypes | async">
          {{ type }}
        </option>
      </select>
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label for="notes">Notes</label>

      <textarea id="notes"
                name="notes"
                class="form-control"
                rows="4"
                [(ngModel)]="userSettings.notes"
      ></textarea>
    </div>

    <!-- Post Error Message -->
    <div [hidden]="!postError"
          class="alert alert-danger">
      {{ postErrorMessage }}
    </div>

    <!-- Submit Button -->
    <button class="btn btn-primary">OK</button>

    <!-- Outputting the NgForm object -->
    <h3>userSettings object</h3>
    <p>{{ userSettings | json }}</p>

    <h3>ngForm instance</h3>
    <p>{{ userSettingsForm.value | json }}</p>
  </form>
</div>
